.App{
    width: 100vw;
    overflow-x: hidden;
}

.details{
    background-color: white;
    margin: 50px;
    margin-top: 60px !important ;
    padding: 20px;
    box-sizing: border-box;
    border: 0.4px solid #a9a9a97a;
    border-radius: 12px;
    box-shadow: 0 0 16px #d3d3d35c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 950px !important;

    .name{
        margin-top: 20px;
        text-decoration: underline;
        color: #ff5722;
    }


    img{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background: wheat;
    }
}

.card{
    border: 0.4px solid #a9a9a97a;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    padding:  15px 20px 2px 20px;
    margin: 15px;
    width: 270px !important;
    float: left;
    box-shadow: 0 0 16px #d3d3d35c;
    text-decoration: none;
    color: black;


    &:hover{
        background: #e3fffd;
    }

    &:focus{
        background: #07d1bf;
        color: white;
        box-shadow: 0 0 3px #0000003b;
        border: 0.4px solid transparent;
    }

    .name{
        font-size: 21px;
    }

    .gender{
        color: #4252ab;
    }

    

    
}

.change_color{
        background: red;
        color: white;
        box-shadow: 0 0 3px #0000003b;
        border: 0.4px solid transparent;
}

nav{
    width: 100%;
    background: #14d3c2;
    margin: 0px;
    color: white;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    ol{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        margin: 5px;
        width: 230px;
        text-transform: capitalize;
    }

    .title, .bar{
        padding: 5px;
        margin: 5px;
    }
  
   

}

.bar, .side-nav{
    display: none;
}

.side-nav{
    position: fixed;
    top: 50px;
    background: #04c5b3ab;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 1;
    text-align: center;
    list-style-type: none;
    padding: 180px 0px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 66px;
    left: 640px;

    ol{
        list-style-type: none;
    }

    li{
        transform: translate(-21px, 0px);
        margin: 15px 0px;
        border-bottom: 3px transparent;

        &:hover{
            text-decoration: underline;
            color: black;
        }
    }

}

@media (max-width: 600px){
     .card{
         width: 350px !important;
     }

     .bar, .side-nav{
         display: block;
        
     }
     
     .navs{
         display: none;
     }
}



